body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
}

.mobile-header{
  display: none;
}

.container img {
  width: 50%;
  height: 100%;
}

.right img {
  width: 181px;
  height: 73px;
  margin-top: 99px;
  margin-left: 125px;
}

.right .btn {
  margin-left: 135px;
  width: 358px;
  height: 40px;
  border-radius: 4px;
  background: #283a97;
  color: #fff;
  font-family: Acumin Pro;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

.right .lower-content {
  margin-left: 135px;
  color: #000;
  font-family: Acumin Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 133.333% */
  width: 374px;
  margin-top: 50px;
}

.right .lower-content .tc {
  color: #0051d3;
  font-family: Acumin Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  text-decoration-line: underline;
}

.upper-content {
  position: absolute !important;
  color: #fff;
  font-family: Acumin Pro;
  font-style: normal;
  text-transform: capitalize;
  margin: 170px 0px 0px 172px;
}

.fixed-returns {
  width: 293px;
  height: 52px;
  font-size: 38px;
  font-weight: 400;
  line-height: 36px;
}
.upper-content .fixed-returns span {
  color: #ffa376;
}
.upper-content .small {
  width: 237px;
  height: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 148%;
}
.upper-content .small span {
  font-size: 18px;
  font-weight: 700;
  line-height: 148%;
}

.upper-content button {
  color: #fff;
  text-align: center;
  font-family: Acumin Pro;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  border-radius: 18px;
  border: 1px solid #fff;
  background-color: inherit;
  height: 32px;
  padding: 5px 10px;
}

.upper-content .left-lower {
  display: flex !important;
  margin-top: 42px;
}

.upper-content .left-lower img {
  width: 66px;
  height: 66px;
}
.upper-content .left-lower .rupees{
 margin-left: 20px;
 margin-left: 30px;
    margin-top: -8px;
}

.upper-content .left-lower .rupees .firstp {
  font-size: 18px;
  font-weight: 700;
}

.upper-content .left-lower .rupees .secondp {
  font-size: 16px;
  font-weight: 400;
  margin-top: -14px;
}


@media screen and (max-width: 768px) {
  .container{
    flex-direction: column;
    padding: 13px;
    height: 95vh;
  }
  .fixed-returns{
    font-size: 30px;
  }

  .upper-content{
    padding-left: 15px;
  }

  .fixed-returns > span{
    font-weight: bold;
    color: #fff !important;
    text-transform: lowercase;
  }

  .upper-content .left-lower{
    margin-top: 16px;
  }
  
  .upper-content, .right .lower-content, .right .btn{
    margin: unset;
  }
  .container img{
    width: 100%;
    height: 45% !important;
    border-radius: 7px;
  }

  .right{
    margin-top: unset;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    height: 40%;
  }

  .right .btn{
    width: 100%;
  }

  .right .heading{
    margin-bottom: 15px;
  }

  .right > img{
    display: none;
  }

  .lower-content-container{
    margin-top: auto;
  }

  .lower-content-container .btn{
    margin-top: 20px;
  }

  .lower-content{
    width: unset !important;
  }

  .mobile-header{
    display: block;
    height: 5vh;
    object-fit: contain;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
